extends ../layout

block content
  .pb-2.mt-2
    h3 Project :&nbsp;
      span= project.name
      small
        a.btn.btn-link.btn-sm.float-right(href='/projects/' + project._id + '/edit') Edit

  ul.nav.nav-pills.mb-4
    li.nav-item
      a.nav-link.active(href='/projects/' + project._id) Issues
    li.nav-item
      a.nav-link(href='/projects/' + project._id + '/dashboard') Overview

  case issues.length
    when 0: p
      | There is No Issue&nbsp;
    default: table.table.table-striped.table-hover
      thead
        tr
          th(scope='col') Issue
          th.text-center(scope='col') Events
          th.text-center(scope='col') Asignee
      tbody
        each issue in issues
          tr
            td
              div
                div
                  a(href='/projects/' + project._id + '/issues/' + issue._id)= issue.title
                  | &nbsp;
                  span= issue.url
                div= issue.message
                div= issue.createdAt
            td.text-center
              strong= issue.events.length || 0
            td.text-center
              strong account
